@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap'); */

body {
  font-family: 'Roboto Mono', monospace;
}

.App {
  text-align: center;
}

.img-size {
  width:  100%;
  height: 250px;
  margin-bottom: 1px;
  object-fit: cover;
}
